<div class="jumbotron">
  <h1 class="display-4">School Home Page</h1>
  <p class="lead"> Lets Learn </p>
  <hr class="my-4">
  <p>This page is for managing the teachers data</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/web/students" role="button">Students</a>
    <a class="btn btn-primary btn-lg" href="/web/teachers" role="button">Teachers</a>
  </p>

</div>