<div class="jumbotron">
  <h1 class="display-4">{{teacherData.firstname}}</h1>
  <p class="lead"> A Great teacher who is been moulding the students in a effective</p>
  <hr class="my-4">

  <table class="table table-dark " style="width:50%">
    <thead>
      <tr>
        <th scope="col">Field</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">First Name</th>
        <td>{{teacherData.firstname}}</td>

      </tr>
      <tr>
        <th scope="row">Last Name</th>
        <td>{{teacherData.lastName}}</td>

      </tr>
      <tr>
        <th scope="row">Subject</th>
        <td>{{teacherData.subject}}</td>

      </tr>
    </tbody>
  </table>

</div>