<div class="container-fluid">

  <h1>Students Details</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each students}}
      <tr>
        <th scope="row">{{formatIndex @index}}</th>
        <td>{{this.FirstName}}</td>
        <td>{{this.lastName}}</td>
        <td><a href="">Edit</a></td>
      </tr>
      {{/each}}


    </tbody>
  </table>
</div>